header {
  padding-top: 15px;
  padding-bottom: 25px;
}
.promo-left {
  @include grid-column(12);
}
.promo-right {
  @include grid-column(12);
}
.promo__section,
.promo__product {
  margin-bottom: 5px;
  position: relative;
  img {
    opacity: 0.87;
    width: 100%;
  }
  img:hover {
    opacity: 1;
  }
}
.promo__content {
  position: absolute;
  left: 0;
  padding: 15px;
  background-color: rgba(54, 42, 79, 0.8);
  h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-family: $secondary-font-family;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $light-red;
  }
  p {
    display: none;
    padding: 0;
    margin: 0;
    color: $white;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
}
.promo__featured-text {
  display: none;
  position: absolute;
  padding: 10px 15px;
  width: 70%;
  color: $white;
  background-color: rgba($light-red, 0.8);
  font-size: 1rem;
  text-transform: uppercase;
  p {
    padding: 0;
    margin: 0;
  }
}
.promo__section--big {
  .promo__content {
    bottom: 10%;
    width: 70%;
  }
}
.promo__section--small {
  .promo__content {
    bottom: 10%;
    width: 70%;
    h3 {
      font-size: 1.2rem;
    }
  }
}
.product-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 55px;
  overflow: hidden;
  position: absolute;
  right: 0;
  font-size: 0;
  color: $white;
  li {
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    color: $white;
    background-color: $primary-color;
  }
  .product-buttons__title {
    a {
      line-height: 55px;
      padding-left: 5px;
      padding-right: 5px;
      color: $white;
      background-color: $primary-color;
    }
  }
  .product-buttons__wishlist {
    a {
      display: block;
      width: 53px;
      height: 55px;
      background-color: $dark-blue;
    }
  }
  .product-buttons__cart {
    a {
      width: 53px;
      height: 55px;
      background-color: $pale-red;
      display: block;
    }
  }
  .product-buttons__price {
    height: 55px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #323232;
    line-height: 55px;
  }
}
.promo__product--small {
  >a {
    display: block;
    background-color: rgba(0, 0, 0, 0.6)
  }
  .product-buttons {
    bottom: 3%;

  }
}
.promo__product-search {
  padding-top: 51px;
  padding-bottom: 49px;
  margin-bottom: 5px;
  background-color: $pale-red;
  .input-group {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  .input-group-field {
    padding-left: 10px;
    padding-right: 70px;
    height: 71px;
    background-color: $white;
    box-shadow: 1px 1.7px 7px rgba(0, 0, 0, 0.19);
  }
  .button {
    position: absolute;
    height: 71px;
    width: 74px;
    font-size: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
    outline: none;
  }
}
.promo__product--medium {
  .product-buttons {
    bottom: 0;
    right: 0;
  }
  .product-buttons__title {
    background-color: rgba(54, 42, 79, 0.8);
    color: $white;
    text-transform: uppercase;
    font-size: 1.5rem;
    a {
      background-color: transparent;
      color: $white;
    }
  }
}
.promo__section--medium {
  .promo__content {
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88px;
    height: 90%;
    left: auto;
    background-color: rgba(54, 42, 79, 0.58);
    .ribbon {
      position: absolute;
      top: 3%;
      right: 0;
      width: 99px;
      height: 20%;
      background-color: $pale-red;
      opacity: 0.99;
      img {
        display: block;
        width: 80%;
        height: 80%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 5%;
        opacity: 1;
      }
    }
    .ribbon:before {
      content: '';
      position: absolute;
      border-color: #c5515b transparent transparent transparent;
      display: block;
      border-style: solid;
      bottom: -15px;
      left: 0;
      border-width: 15px 0 0 11px;
    }
  }
  .rotated-text {
    position: absolute;
    bottom: 0;
    display: block;
    overflow: hidden;
    width: 88px;
    line-height: 88px;
    padding: 25px 20px 15px;
    margin: 0;
    h3 {
      display: inline-block;
      margin: 0 -5px;
      vertical-align: top;
      transform: translate(0,100%) rotate(-90deg);
      transform-origin: 0 0;
      white-space: nowrap;
      font-size: 2.2rem;
      color: $white;
      text-transform: uppercase;
      font-family: $secondary-font-family;
      &:after {
        content: "";
        float: left;
        margin-top: 100%;
      }
    }
  }
}
@media screen and #{breakpoint(medium)} {
  .promo-left {
    @include grid-column(57.26495726495726%);
    padding-right: 2px !important;
  }
  .promo-right {
    @include grid-column(100% - 57.26495726495726%);
    padding-left: 3px !important;
  }
  .promo__section--big {
    .promo__content {
      bottom: 22%;
      h3 {
        font-size: 2rem;
      }
      p {
        display: block;
        font-size: 0.7rem;
      }
    }
  }
  .promo__section--small {
    .promo__content {
      h3 {
        font-size: 1rem;
      }
      p {
        display: block;
      }
    }
  }
  .promo__product--small {
  }
  .promo__product-search {
    .input-group-field {
      padding-left: 15px;
    }
  }
  .promo__product--medium {
    .product-buttons__title {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.8rem;
    }
  }
  .promo__product--medium {
    .product-buttons {
      bottom: 0;
      right: 0;
    }
    .product-buttons__title {
      background-color: rgba(54, 42, 79, 0.8);
      color: $white;
      text-transform: uppercase;
      font-size: 1.5rem;
      a {
        background-color: transparent;
        color: $white;
      }
    }
  }
}
@media screen and #{breakpoint(large)} {
  .promo__section--big {
    .promo__content {
      width: 52%;
      bottom: 16%;
      h3 {
        font-size: 2.5rem;
      }
      p {
        font-size: 0.8rem;
        height: 41px;
        overflow: hidden;
      }
    }
  }
  .promo__featured-text {
    display: inline-block;
    width: 52%;
    bottom: 7%;
    left: 0;
    p {
      height: 26px;
      overflow: hidden;
    }
  }
  .promo__section--small {
    .promo__content {
      width: 54%;
      h3 {
        font-size: 1.4rem;
      }
      p {
        font-size: 0.75rem;
      }
    }
  }
  .product-buttons {
    li {
      font-size: 1rem;
    }
    .product-buttons__title {
      a {
        padding-left: 10px;
      }
    }
    .product-buttons__price {
      padding-left: 10px;
    }
    .product-buttons__price-ammount {
      font-size: 1.2rem;
    }
  }
  .promo__product-search {
    padding-left: 8.2%;
    .input-group {
      width: 84.17910447%;
    }
    .input-group-field {
      padding-left: 25px;
      padding-right: 25px;
    }
    .button {
      position: static;
      background-color: $pale-red;
    }
  }
  .promo__product--medium {
    .product-buttons__title {
      padding-left: 40px;
      padding-right: 40px;
    }
    .product-buttons__price {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .promo__section--medium {
    .promo__content {
      height: 77.7%;
      .ribbon {
        top: 5%;
        img {
          height: 70%;
          width: 70%;
          margin-top: 10%;
        }
      }
      .rotated-text {
        padding-bottom: 25px;
      }
    }
  }
}
