<footer>
  <div class="container">
    <div class="main-footer">
      <div class="footer-column">
        <h4>shopping with us</h4>
        <ul>
          <li><a href="#0">why shop with us?</a></li>
          <li><a href="#0">how it works</a></li>
          <li><a href="#0">delivery</a></li>
          <li><a href="#0">returns</a></li>
          <li><a href="#0">where's my order</a></li>
          <li><a href="#0">contact &amp; help</a></li>
          <li><a href="#0">wedding list</a></li>
          <li><a href="#0">wish lists</a></li>
          <li><a href="#0">gift vouchers</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>about us</h4>
        <ul>
          <li><a href="#0">our story</a></li>
          <li><a href="#0">customer contact</a></li>
          <li><a href="#0">awards</a></li>
          <li><a href="#0">press centre</a></li>
          <li><a href="#0">work with us</a></li>
          <li><a href="#0">terms &amp; conditions</a></li>
          <li><a href="#0">privacy &amp; cookies</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>about us</h4>
        <ul>
          <li><a href="#0">our story</a></li>
          <li><a href="#0">customer contact</a></li>
          <li><a href="#0">awards</a></li>
          <li><a href="#0">press centre</a></li>
          <li><a href="#0">work with us</a></li>
          <li><a href="#0">terms &amp; conditions</a></li>
          <li><a href="#0">privacy &amp; cookies</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>selling with us</h4>
        <ul>
          <li><a href="#0">why join?</a></li>
          <li><a href="#0">faqs</a></li>
          <li><a href="#0">apply to sell with us</a></li>
          <li><a href="#0">affiliates</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Signup newsletter</h4>
        <form>
          <input type="email" name="email" placeholder="e.g.: abc@domain.com">
          <input class="button" type="submit" value="Subscribe now">
        </form>
        <h4>Keep in touch</h4>
        <ul class="social">
          <li><a class="social__link social__link--rss" href="#0"></a></li>
          <li><a class="social__link social__link--facebook" href="#0"></a></li>
          <li><a class="social__link social__link--twitter" href="#0"></a></li>
          <li><a class="social__link social__link--flickr" href="#0"></a></li>
          <li><a class="social__link social__link--google" href="#0"></a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="copyright">
        Copyright © 2014 Gift Shop,  All right reserved
      </div>
      <div class="design">
        Designed by <span>Amysxain</span>
      </div>
    </div>
  </div>
</footer>
