<nav class="no-js all">
  <div class="container">
    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <img src="../assets/img/logo.png" alt="Gift shop" width="153" height="108">
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="menu site-menu">
            <li class="site-menu__item"><a href="#0">Sell</a></li>
            <li class="site-menu__item"><a href="#0">Registry</a></li>
            <li class="site-menu__item"><a href="#0">Community</a></li>
            <li class="site-menu__item"><a href="#0">Blogs</a></li>
            <li class="site-menu__item"><a href="#0">Mobile</a></li>
            <li class="site-menu__item"><a href="#0">Gift Cards</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu user-menu" data-dropdown-menu>
            <li class="user-menu__item"><a href="#0">Register</a></li>
            <li class="user-menu__item"><a href="#0">Sign In</a></li>
            <li class="user-menu__item"><a href="#0">Whishlist</a></li>
            <li class="user-menu__item"><a href="#0">Cart</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu shop-menu" data-dropdown-menu>
            <li class="shop-menu__item">
              <a href="#0">Art</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">Home &amp; Living</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">Jewelry</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">Women</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">Men</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">Kids</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">Vintage</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">Weddings</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
            <li class="shop-menu__item">
              <a href="#0">More</a>
              <ul class="menu vertical">
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem">
                  <img src="../assets/img/main-submenu-item-icon.png" alt="">
                  <h5>Item Name Here</h5>
                  <p>Lorem Ipsum is simply dummy text of the</p>
                  <a class="button" href="#0">More Detail</a>
                </li>
                <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
