<ul class="menu vertical">
  <li class="shop-menu__subitem">
    <img src="../assets/img/main-submenu-item-icon.png" alt="">
    <h5>Item Name Here</h5>
    <p>Lorem Ipsum is simply dummy text of the</p>
    <a class="button" href="#0">More Detail</a>
  </li>
  <li class="shop-menu__subitem">
    <img src="../assets/img/main-submenu-item-icon.png" alt="">
    <h5>Item Name Here</h5>
    <p>Lorem Ipsum is simply dummy text of the</p>
    <a class="button" href="#0">More Detail</a>
  </li>
  <li class="shop-menu__subitem">
    <img src="../assets/img/main-submenu-item-icon.png" alt="">
    <h5>Item Name Here</h5>
    <p>Lorem Ipsum is simply dummy text of the</p>
    <a class="button" href="#0">More Detail</a>
  </li>
  <li class="shop-menu__subitem"><a href="#0">See All Items</a></li>
</ul>
